jenkins_admin_password = "admin123"
github_username        = "SerhiiRybak"
github_pat             = "github_pat_....."
github_url             = "https://github.com/s-rybak/goit-devops-testapp-hw"
github_tf_url          = "https://github.com/s-rybak/goit-devops-hw"
github_tf_branch       = "lesson-7"
github_main_branch     = "main"
helm_chart_path        = "Project/charts/django-app"
grafana_admin_password = "admin123"
rds_db_password        = "admin123AWS23"
rds_db_user            = "postgres"
rds_db_name            = "myapp"